{#
/**
 * @file
 * Default theme implementation for the video shortcode.
 *
 * Available variables:
 * - attributes: Attributes array.
 * - url: The video url.
 */
#}
<div class="video-container {{ attributes.class }}">
    <iframe src="{{ url }}" {% if  attributes.title %} title="{{ attributes.title }}" {%  endif %} width="{{ attributes.width }}" height="{{ attributes.height }}" frameborder="0" allowfullscreen></iframe>
</div>